# Node modules
**/node_modules

# Build output
**/dist

# Env files
**/.env

# Logs
*.log
npm-debug.log*

# Prisma SQLite files
backend/dev.db
backend/dev.db-journal
backend/prisma/dev.db
backend/prisma/dev.db-journal
